/* Default styles */
body {
  background-color: #1d1d1d;
  font-family: monospace, sans-serif;
  margin: 0;
  padding: 0;
}

/* Common styles for tabs and tab contents */
.tabs-container {
  text-align: center;
  margin-top: 20px;
}

.tabs {
  list-style: none;
  padding: 0;
  display: inline-block;
  margin: 0;
  padding: 0;
  background-color: #1d1d1d;
  border-top: 1px solid #1d1d1d;
  border-left: 1px solid #3b3b3b;
  border-right: 1px solid #4d4d4d;
}

.tab {
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid #272727;
  border-bottom: none;
  background-color: #383838;
}

.tab.active {
  background-color: rgb(41, 41, 41);
  border-bottom: 1px solid rgb(85, 85, 85);
}

.tab-content {
  display: none;
  padding: 20px;
  border: 1px solid rgb(41, 41, 41);
}

.tab-content.active {
  display: block;
}

.button-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 10px;
  margin-right: 10px;
}


/* Styles for specific tab themes */
#carbon-content {
  background-color: #747474;
  border-color: #272727;
}

#boost-content {
  background-color: #f0e68c;
  border-color: #e6db55;
}

#proton-content {
  background-color: #db83db;
  border-color: #a359a2;
}

#quark-content {
  background-color: #8789eb;
  border-color: #6a74ad;
}

#ab-content {
  background-color: #ce5221;
  border-color: #91472a;
}

/* Other styles */
.container {
  text-align: center;
}

.text {
  text-align: center;
  color: white;
}

.container2 {
  text-align: center;
  color: #333;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
}

.protonm {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.protonm button {
  margin-top: 5%;
  align-items: center;
}

button:hover {
  background-color: #45a049;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button:disabled:hover {
  background-color: #ccc;
}

.box {
  border: 3px solid #564e5c;
  padding: 10px;
  margin: 10px 0;
  background-color: #ecdbff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* modalLibrary.css */

/* Style for the modal container */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* Style for the modal overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

/* Style for the modal content */
.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  position: relative;
}

/* Style for the close button */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

#notificationContainer {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.notification {
  background-color: #333;
  color: #fff;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  opacity: 1;
  transition: opacity 0.5s;
}

.progress-container {
  width: 100%;
  background-color: #f1f1f1;
}

.progress-bar {
  height: 30px;
  background-color: #4caf50;
  transition: width 0.5s;
}


